@import "variables";
@import "mixins";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;

    @include mobile {
        height: 100%;
    }
}

#top {
    width: 100%;
    height: 15%;

    @include mobile {
        height: 55%;
    }

    @include tablet {
        height: 45px;
    }
}


.header {
    width: 100%;
    height: 50%;
    background-color: rgba(35, 133, 109, 1);

    @include mobile {
        height: 40px;
        background-color: #716666;

    }

    @include tablet {
        height: 45px;
        background-color: #666664;
    }



    &--container {
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0 auto;

        @include mobile {
            width: 90%;
        }

        @include desktop {
            width: 90%;
        }

        .mobil--header {
            display: none;

            @include mobile {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

            }

            @include tablet {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

            }

            .mobil--logo {}

            .mobil--main {}


        }


        .header--top {
            display: flex;
            width: 100%;
            justify-content: space-between;
            color: #ddcbcb;

            @include mobile {
                display: none;
            }

            @include tablet {
                display: none;
            }


            .header--service {

                i {
                    color: white;
                }
            }

            .header--text {
                color: white;

            }

            .header--icon {
                display: flex;
                list-style: none;
                gap: 10px;

                @include mobile {
                    flex-direction: column;
                }

                .icon--text {}

                .icon--header {
                    color: white;

                }
            }
        }
    }
}

.nav {
    width: 100%;
    height: 50%;

    @include mobile {
        height: 90%;
        // display: block;
    }

    @include tablet {
        display: none;
    }

    &--top {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;



        .nav--container {
            width: 75%;
            margin: 0 auto;
            padding-left: 35px;

            @include desktop {
                width: 90%;
            }

            .nav--box {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                @include mobile {
                    flex-direction: column;
                    gap: 15px;
                }

                .nav--logo {
                    font-size: 25px;
                    color: rgba(37, 43, 66, 1);

                    @include mobile {
                        display: none;
                    }


                }

                .nav--menu {
                    display: flex;
                    gap: 30px;

                    @include mobile {
                        flex-direction: column;
                    }

                    @include tablet {
                        display: none;
                    }

                    .menu--text {

                        a {
                            color: #054c05
                        }
                    }

                }

                .nav--icon {
                    display: flex;
                    gap: 25px;
                    color: #279bff;

                    @include mobile {
                        flex-direction: column;
                    }


                    .nav--list {

                        display: flex;
                        gap: 7px;

                        @include mobile {
                            justify-content: center;
                        }


                        a {
                            color: #279bff;
                        }
                    }
                }

            }

        }

    }
}

#main {
    width: 100%;
    // height: 100%;
}

.box {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    background-color: #fafafa;

    @include mobile {
        height: 60px;
        margin-top: 15px;
    }

    @include tablet {
        height: 60px;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .main--container {
        width: 70%;
        margin: 0 auto;
        display: flex;
        gap: 10px;
        height: 50px;
        align-items: center;

        @include mobile {
            width: 25%;
            justify-content: center;
        }

        .homel {
            font-weight: 600;

            @include mobile {
                margin: 0;
                padding: 0;
            }
        }

        i {
            color: #716666;
        }

        .shop {
            color: #716666;
        }
    }
}

.floating {
    width: 100%;
    background-color: #fafafa;


    &--container {
        width: 80%;
        margin: 0 auto;
        display: flex;


        @include mobile {
            flex-direction: column;
            width: 90%;

        }

        @include tablet {
            width: 95%;
        }

        @include desktop {
            width: 80%;
        }

        .floating--left {
            width: 50%;

            @include mobile {
                width: 100%;
                margin-bottom: 15px;
            }


            .left--top {
                position: relative;
                color: white;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;

                .top--img {

                    @include mobile {
                        width: 100%;
                    }

                    @include tablet {
                        width: 95%;
                    }

                    @include desktop {
                        width: 95%;
                    }
                }



                .fa-chevron-left {
                    position: absolute;
                    left: 44px;
                    font-size: 65px;
                    bottom: 135px;

                    @include mobile {
                        left: 30px;
                    }

                    @include tablet {
                        left: 20px;
                        bottom: 125px;
                    }

                    @include tablet2 {
                        bottom: 110px !important;
                        left: 35px !important;
                    }

                    @include extra-small-device {
                        bottom: 90px;
                    }

                    @include desktop {
                        bottom: 100px;
                        left: 40px;
                    }

                }

                .fa-chevron-right {
                    position: absolute;
                    font-size: 65px;
                    bottom: 135px;
                    right: 80px;

                    @include tablet {
                        right: 20px;
                    }

                    @include mobile {
                        right: 40px;
                        bottom: 125px;
                    }

                    @include tablet2 {
                        bottom: 110px !important;
                        right: 35px !important;
                    }

                    @include extra-small-device {
                        bottom: 90px;
                    }

                    @include desktop {
                        bottom: 100px;
                        right: 40px;
                    }

                }
            }

            .left--bottom {

                .bottom--img {}
            }

        }

        .floating--right {
            width: 50%;

            @include mobile {
                width: 100% !important;
            }

            @include tablet {
                width: 50%;
            }

            .right--container {
                width: 100%;
                display: grid;
                grid-template-rows: 17fr 31fr 39fr 44fr 65fr 33fr 52fr 73fr;
                align-items: end;

                @include mobile {
                    width: 80%;
                    height: 30%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                }

                @include tablet {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    height: 80%;
                }

                @include desktop {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    height: 80%;
                }

                .right--text {
                    @include mobile {
                        font-size: 20px;
                    }
                }

                .right--list {
                    display: flex;
                    gap: 6px;
                    color: rgba(243, 205, 3, 1);
                    ;

                    .right--icon {

                        i {}
                    }

                    .right--hobi {
                        color: black;
                    }
                }

                .right--price {
                    font-size: 22px;
                    color: #02024d;
                }

                .price {
                    font-size: 17px;
                    color: darkslategrey;
                    font-weight: 600;

                    @include mobile {
                        font-size: 20px;
                    }

                    &--blue {
                        color: #057ad5;
                    }

                }

                .right--met {
                    color: darkgreen;
                    font-size: 16px;

                }

                .xett {
                    width: 100%;
                    height: 2px;
                    border-color: black;

                    @include mobile {

                        display: block;
                        width: 100%;
                        height: 2px;
                    }

                    @include tablet {
                        width: 100%;
                        height: 1px;
                    }
                }

                .right--color {
                    display: flex;
                    gap: 5px;

                    .blue {
                        width: 25px;
                        height: 25px;
                        background-color: #00acff;
                        border-radius: 15px;
                    }

                    .green {
                        width: 25px;
                        height: 25px;
                        background-color: #03b203;
                        border-radius: 15px;
                    }

                    .orange {
                        width: 25px;
                        height: 25px;
                        background-color: #cf8805;
                        border-radius: 15px;
                    }

                    .black {
                        width: 25px;
                        height: 25px;
                        background-color: #222220;
                        border-radius: 15px;

                    }
                }

                .right--button {

                    .button--right {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        @include mobile {
                            margin-top: 25px;
                        }

                        input {
                            border: none;
                            background-color: #00cfff;
                            padding: 10px;
                            border-radius: 5px;
                            color: white;
                            cursor: pointer;
                        }

                        i {
                            color: #159098;
                            background-color: white;
                            padding: 10px;
                            border-radius: 18px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.row {
    width: 100%;

    @include mobile {
        padding-top: 20px;
    }

    &--container {
        width: 80%;
        margin: 0 auto;

        @include mobile {
            width: 95% !important;
        }

        @include tablet {
            width: 90%;
        }

        @include desktop {
            width: 93%;
            padding-bottom: 20px;
        }


        .row--top {
            width: 35%;
            display: flex;
            margin: 0 auto;
            height: 50px;
            align-items: center;
            margin-top: 15px;
            margin-bottom: 15px;

            @include mobile {
                width: 100%;
            }

            @include tablet {
                width: 100%;
            }

            .top--box {
                display: flex;
                width: 100%;
                justify-content: space-between;

                @include mobile {
                    font-size: 14px;
                    gap: 10px;
                }

                .row-text {
                    color: rgba(115, 115, 115, 1);
                    font-weight: 600;

                }
            }
        }

        hr {
            margin-bottom: 20px;
            width: 92%;

            @include mobile {
                width: 100%;
            }

            @include tablet {
                width: 100%;
            }

            @include desktop {
                width: 95%;
            }
        }



        .row--bottom {
            width: 88%;
            padding-top: 15px;
            display: grid;
            grid-template-columns: 3fr 3fr 3fr;
            gap: 20px;
            margin: 0 auto;

            @include mobile {
                display: flex;
                flex-direction: column;
            }

            @include tablet {
                display: flex;
                flex-direction: column;
            }

            .row--left {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 20px;

                @include mobile {
                    gap: 15px;
                }

                @include tablet {
                    gap: 15px;
                }

                .left--text {
                    font-size: 24px;
                }

                .text--left {
                    font-size: 17px;
                    line-height: 20px;
                    letter-spacing: 0.3px;
                    color: rgba(115, 115, 115, 1);
                }
            }

            .row--center {
                display: inline-grid;

                @include mobile {
                    gap: 15px;
                }

                @include tablet {
                    gap: 15px;

                }

                .right--center {
                    font-size: 24px;
                }

                .right--list {
                    list-style: none;
                    display: inline-grid;



                    .list--text {
                        font-size: 17px;
                        line-height: 20px;
                        letter-spacing: 0.3px;
                        color: rgba(115, 115, 115, 1);

                        @include mobile {
                            gap: 5px;
                        }

                        @include tablet {
                            gap: 5px;
                        }

                        i {
                            padding-right: 10px;
                        }

                    }
                }
            }

            .row--right {
                display: inline-grid;


                @include mobile {
                    gap: 15px;
                }

                @include tablet {
                    gap: 15px;

                }

                .right-text {
                    font-size: 24px;
                }

                .right--row {
                    font-size: 17px;
                    line-height: 20px;
                    letter-spacing: 0.3px;
                    color: rgba(115, 115, 115, 1);
                }
            }
        }
    }
}

.commit {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;

    @include mobile {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    &--container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        gap: 20px;

        @include mobile {
            flex-direction: column-reverse;
        }

        .commit--left {
            width: 50%;

            @include mobile {
                width: 100%;
            }

            .commit--text {}

            .commit--list {
                display: flex;
                gap: 15px;
                margin-top: 22px;

                .list--img {

                    img {
                        width: 60px;
                    }
                }

                .list--product {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .list--name {
                        font-size: 20px;
                    }

                    .list--is {}

                    .commit--icon {
                        color: #d3d330;

                        i {}
                    }

                    .commit--lorem {
                        color: darkgreen;
                    }
                }
            }

        }

        .commit--right {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            @include mobile {
                width: 90%;
                gap: 20px;
            }

            .right--commit {

                .commit--add {}

                .commit-lorem {
                    color: darkgreen;
                }
            }

            .right--star {

                .star {
                    color: yellowgreen;

                    i {}
                }
            }

            .message {
                padding-bottom: 90px;
                padding-top: 10px;
            }

            .fullname {

                .input--text {
                    padding: 10px 40px;

                    @include mobile {
                        // padding: 10px 57px;
                        width: 100%;
                        margin-bottom: 20px;
                    }
                }
            }

            .input--checkbox {

                .checkbox {}


            }

            .submit--button {
                width: 25%;
                padding: 10px 0px;
                color: white;
                background-color: dodgerblue;
                border: none;
                border-radius: 5px;

                cursor: pointer;

                @include mobile {
                    width: 100%;
                }

            }



        }
    }
}


.product {
    width: 100%;
    background-color: #fafafa;
    margin-bottom: 25px;

    &--container {
        width: 83%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include desktop {
            width: 90%;
        }

        .product--top {
            width: 86%;
            height: 50px;
            align-items: center;
            display: flex;
            margin-top: 15px;
            margin-bottom: 15px;

            @include mobile {
                width: 77%;
                margin-top: 20px;
                // margin: 0 auto;

            }

            @include tablet {
                width: 60%;
            }

            @include desktop {
                width: 92%;
            }


            .top--text {

                @include mobile {
                    font-size: 26px;

                }

                @include tablet {
                    font-size: 31px;
                }
            }
        }

        hr {
            width: 86%;
            height: 3px;
            background-color: black;
            margin: 0 auto;

            @include tablet {
                width: 96%;
                margin-right: 20px;
            }

            @include desktop {
                width: 90%;
                margin: 0px 19px 0px 0px;
            }

        }

        .product--list {
            padding-top: 20px;
            display: grid;
            flex-wrap: wrap;
            width: 88%;
            grid-template-columns: 4fr 4fr 4fr 4fr;
            margin: 0 auto;
            row-gap: 15px;

            @include mobile {
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            @include tablet {
                width: 100%;
                grid-template-columns: 4fr 4fr;
            }

            @include desktop {
                width: 92%;
            }

            .list--style {
                width: 92%;
                background-color: #e0cbf770;
                line-height: 35px;

                @include mobile {
                    font-size: 25px;
                }

                .style--img {

                    img {

                        @include mobile {
                            width: 100%;
                        }

                        @include tablet {
                            width: 100%;
                        }

                        @include desktop {
                            width: 100%;
                        }


                    }
                }

                .style--top {
                    color: rgba(37, 43, 66, 1);
                }

                .style--center {
                    color: rgba(115, 115, 115, 1);
                }

                .style--bottom {
                    color: #ff7e9f;

                    .style--price {
                        color: rgba(35, 133, 109, 1);
                    }

                }
            }
        }
    }
}


.photo {
    width: 100%;
    padding-top: 25px;
    margin-bottom: 25px;

    &--container {
        width: 85%;
        margin: 0 auto;

        @include tablet2 {
            width: 78% !important;
        }

        .photo--main {
            display: flex;
            justify-content: space-between;

            @include mobile {
                flex-direction: column;
                gap: 10px;
            }

            @include tablet2 {
                flex-wrap: wrap !important;
                gap: 15px;
            }

            .photo--img {

                @include mobile {
                    padding: 15px 0px 15px 0px;
                }


            }
        }
    }
}

#footer {
    color: #00acff;

    width: 100%;

}

.footer {

    width: 100%;
    height: 60px;
    margin-bottom: 20px;

    &--top {
        width: 82%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;

        @include mobile {
            flex-direction: column;
            margin: 0;
            width: 60%;
            justify-content: center;
            height: 90px;
        }

        .box--text {
            font-size: 24px;

            .box--logo {}

        }

        .footer--list {

            .footer--icon {
                display: flex;
                gap: 20px;

                .icon--list {
                    font-size: 20px;
                }
            }
        }
    }

}

.footer--text {
    width: 82%;
    margin: 0 auto;
    margin-bottom: 20px;

    @include mobile {
        display: none;
    }
}

.home {
    width: 100%;
    margin-bottom: 20px;

    @include mobile {
        margin-top: 40px;
        padding-top: 20px;
    }

    &--container {
        width: 82%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        @include mobile {
            flex-direction: column;
            width: 84%;
            gap: 10px;
        }

        .home--text {
            line-height: 24px;

            .home--top {
                font-size: 19px;

                @include mobile {
                    font-size: 23px;
                }
            }

            .home--box {
                font-size: 17px;

                @include mobile {
                    font-size: 21px;
                    margin: 6px 0px 6px 0px;

                }
            }
        }

        .link {
            line-height: 24px;

            &--list {

                .link--text {
                    font-size: 19px;
                }

                .link--style {
                    left: 0;
                    position: relative;
                    right: 0;

                    .email {

                        padding: 13px 12px;
                        border: none;
                        background-color: #d3d3d3;
                        color: white;
                        left: 0;
                        right: 0px;
                        outline: none;
                        font-size: 17px;

                        &::placeholder {
                            color: #000000;
                        }
                    }

                    .button {

                        padding: 15px;
                        right: -25px;
                        position: absolute;
                        border: none;
                        background-color: #06c3f6;
                        color: white;
                        cursor: pointer;

                        &:hover {
                            transform: scaleX(1);
                            background-color: #cf8805;
                        }

                        @include mobile {
                            right: 20PX;
                        }

                    }
                }

                .end {}
            }
        }
    }
}

.son {
    width: 100%;
    padding-top: 20px;

    @include mobile {
        background-color: darkgrey;
        color: black;
    }

    &--container {
        width: 83%;
        margin: 0 auto;

        @include mobile {
            width: 60%;
            text-align: center;
            margin: 0 auto;
        }

        .son--text {

            font-size: 17px;
        }
    }
}